@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --primary-color: #b32557;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Fredoka", sans-serif;
    background-image: url("assets/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
}

nav {
    padding: 2rem 1rem;
    overflow: hidden;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

